h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 10%;
}

#firstline {
    font-size: 40px;
    font-weight: 700;
}

#secondline {
    font-size: 120px;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 0.7;
}

#thirdline {
    font-size: 23px;
    font-weight: 400;
}

#byline {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}