
h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1 span{
	font-size: 40px;
	font-weight: 700;
}

br#brawl {
	font-size: 120px;
	font-weight: 800;
	letter-spacing: 5px;
	line-height: 0.7;
}

br#howinclusive {
	font-size: 23px;
	font-weight: 400;
}
