/* fonts and colors 
fonts: 
	font-family: itc-american-typewriter, serif;
	font-family: 'Nunito Sans', sans-serif;
colors: 
	green: #266150
	pink: #E8CEBF
*/

/* navbar */
.nav-custom {
    background-color: #266150;
}

.navbar-brand {
    font-family: dico-typewriter-slab, mono;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.nav-link {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}


body {
    font-family: dico-typewriter-slab, mono;
    font-weight: 400;
    font-style: normal;
}

a {
    color: black;
    text-decoration: underline solid;
    text-decoration-color: #E8CEBF;
    font-style: italic;
}

span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}

h1 {
    text-decoration: underline solid;
    text-decoration-color: #E8CEBF;
    padding: 4%;
    text-align: center;
}

#img-resize {
    max-width: 50%;
    max-height: 100%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 3%;
}

p {
    padding: 2%;
    font-size: 15px;
}

svg {
    color: #266150;
}


/* media queries */