body {
    background-color: white;
}

.content {
    padding-top: 5%;
}

h1 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 3%;
    color: black;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

h5 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-weight: 700;
}

p {
    font-family: 'Playfair Display', serif;
}

#aboutme {
    background-color: #CDE491;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5%;
    border-width: thick;
    border-style: solid;
    border-color: #CDE491;
    text-align: center;
    font-weight: 400;
    margin-top: 3%;
    color: black;
}


img.resize {
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: solid;
    border-color: #CDE491;
    border-width: thick;
}

h2 {
    text-transform: uppercase;
    padding: 3%;
    font-family: 'Rubik', sans-serif;
    border-style: solid;
    border-color: #C2E491;
    border-width: thick;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid #CDE491;
    display: inline;
}

h4 {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: black;
}

p.date {
    font-size: 13px;
    font-style: italic;
}

p.description {
    font-size: 13px;
}


.carousel-caption.d-none.d-md-block {
    background-color: rgba(0, 0, 0, 0.5);
}

a.nav-link:link {
    color: white;
    text-decoration: none;
}

a.nav-link:visited {
    color: white;
    text-decoration: none;
}

a.nav-link:hover {
    color: white;
    text-decoration: none;
}

a.nav-link:active {
    color: white;
    text-decoration: none;
}

#contact {
    text-align: center;
    border: solid;
    padding: 1%;
    border-color: #CDE491;
    font-weight: 500;
}

.col-xl {
    padding-top: 3%;
}

.nav-custom {
    background-color: #CDE491;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.nav-link {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-style: italic;
}

p.clips {
    font-size: 12px;
    padding-bottom: 3%;
}

.col-sm {
    margin-left: 3%;
}