
.content {
	padding-top: 5%;
}
h1,
h5 {
font-family: 'Rubik', sans-serif;
text-align: center;
}

p{
	font-family: 'Playfair Display', serif;
}

.carousel-slide {
	border: 7;
	border-color: #C2C9D3;
}

