
.content {
	padding-top: 5%;
}
h1,
h5 {
font-family: 'Rubik', sans-serif;
text-align: center;
font-weight: bold 700;
}

p{
	font-family: 'Playfair Display', serif;
	background-color: #CDE491;
}

#carouselExampleCaptions {
	border-style: solid;
	border-color: #C2C9D3;
	border-width: thick;
}


