h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

#byline,
#creditline,
#dateline {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

div {
    font-family: 'Montserrat', sans-serif;
}