/* Google fonts
font-family: 'Anton', sans-serif;
font-family: 'Nunito Sans', sans-serif; 

Colors:
Orange #fc5f1a
Navy #010833
Yellow #ffa500 */
body
 {
    background-color: #fc5f1a;
    color: #010833;
}

h1 {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 5%;
}

p {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}

#firstline,
#thirdline {
    font-size: 60px;
}

#secondline {
    font-size: 120px;
}

.byline {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    font-style: italic;
    font-weight: 500;
    line-height: 1;
}
#graphic {
	display: block;
	margin: 0 auto 0 auto;

}

h2 {
	font-family: 'Anton', sans-serif;
text-align: center;
font-size: 70px;
letter-spacing: 2.5px;
padding-top-bottom: 2%;
margin-top-bottom: 2%;
color: #ffa500 ;
background-color: #010833;
}

h3 {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
}

.whitebox {
	padding-top-bottom: 5%;
	margin-top-bottom: 2%;
	background-color: white;
}

#behindthehyphens {
	text-align: center;
}

.line1 {
font-weight: 500;
letter-spacing: 1.5px;
font-size: 18px;
color: #ffa500;
}

.line3 {
	font-weight: 200;
	font-size: 16px;
}

.credits {
	border-top: 2px, white, solid;
	border-width: 25%;
	border-margin: 0 auto;
	font-size: 14px;
}

/* media queries */