/* Google fonts
font-family: 'Anton', sans-serif;
font-family: 'Nunito Sans', sans-serif; 

Colors:
Orange #fc5f1a
Navy #010833
Yellow #ffa500 */
body {
    background-color: #fc5f1a;
    color: #010833;
}

h1 {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 5%;
}

p {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}

#firstline,
#thirdline {
    font-size: 60px;
}

#secondline {
    font-size: 120px;
}

.byline {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    font-style: italic;
    font-weight: 500;
    line-height: 1;
}

#graphic {
    display: block;
    margin: 0 auto 0 auto;

}

h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 70px;
    letter-spacing: 2.5px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffa500;
    background-color: #010833;
}

h3 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.whitebox {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
}

#behindthehyphens {
    text-align: center;
}

.line1 {
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 18px;
    color: #ffa500;
}

.line3 {
    font-weight: 200;
    font-size: 16px;
}

hr {
    border-top: 2px solid white;
    border-top-width: 25%;
    margin: 0 auto;
}

h4 {
    font-weight: 600;

}

h4,
#credits p {
    font-size: 14px;
}

#credits {
    padding-bottom: 5%;
    padding-top: 1%;

}


a {
    font-weight: 600;
    color: black;
    text-decoration: underline;
    text-decoration-color: #ffa500;
}


/* media queries */

@media (max-width: 576px) {

    #firstline,
    #thirdline {
        font-size: 37px;
    }

    #secondline {
        font-size: 85px;
    }

}

@media (max-width: 576px) {
    p {
        font-size: 15px;
        line-height: 1.75;
    }
}

@media (max-width: 768px) {

    .whitebox p,
    .whitebox ul,
    h2,
    h3 {
        padding-left: 2%;
        padding-right: 2%;
    }

}